/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/installed.lock
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/database/*.sqlite
/database/*.sqlite-journal
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea
/.vscode
.DS_Store
/node/.env
/node/node_modules/
/.build-entries/
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
